In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/titanic/train.csv
/kaggle/input/titanic/test.csv
/kaggle/input/titanic/gender_submission.csv

In [2]:
train_data = pd.read_csv("/kaggle/input/titanic/train.csv")
train_data.columns
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
train_data.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [4]:
train_data.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [5]:
test_data = pd.read_csv("/kaggle/input/titanic/test.csv")
test_data.tail()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
413,1305,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [6]:
women = train_data.loc[train_data.Sex == 'female']["Survived"]
rate_women = sum(women)/len(women)

print("% of women who survived:", rate_women)

% of women who survived: 0.7420382165605095

In [7]:
#Then, run the code below in another code cell:

men = train_data.loc[train_data.Sex == 'male']["Survived"]
rate_men = sum(men)/len(men)

print("% of men who survived:", rate_men)

% of men who survived: 0.18890814558058924

In [8]:
# All categorical columns
object_cols = [col for col in train_data.columns if train_data[col].dtype == "object" and train_data[col].nunique() < 10]

# Get number of unique entries in each column with categorical data
object_nunique = list(map(lambda col: train_data[col].nunique(), object_cols))
d = dict(zip(object_cols, object_nunique))

# Print number of unique entries by column, in ascending order
sorted(d.items(), key=lambda x: x[1])

[('Sex', 2), ('Embarked', 3)]

In [9]:
# Added Age to feature used for making prediction
features = ["Pclass","Age", "Sex", "SibSp", "Parch",'Fare','Embarked']
X_full = train_data[features]
y = train_data["Survived"]
X_test_full = test_data[features]

In [10]:
X_test_full.head()

   Pclass   Age     Sex  SibSp  Parch     Fare Embarked
0       3  34.5    male      0      0   7.8292        Q
1       3  47.0  female      1      0   7.0000        S
2       2  62.0    male      0      0   9.6875        Q
3       3  27.0    male      0      0   8.6625        S
4       3  22.0  female      1      1  12.2875        S

In [11]:
X_full.head()

   Pclass   Age     Sex  SibSp  Parch     Fare Embarked
0       3  22.0    male      1      0   7.2500        S
1       1  38.0  female      1      0  71.2833        C
2       3  26.0  female      0      0   7.9250        S
3       1  35.0  female      1      0  53.1000        S
4       3  35.0    male      0      0   8.0500        S

In [12]:
from sklearn.model_selection import train_test_split
# Break off validation set from training data
X_train_full, X_valid_full, y_train, y_valid = train_test_split(X_full, y, 
                                                                train_size=0.8, test_size=0.2,
                                                                random_state=0)

In [13]:

# "Cardinality" means the number of unique values in a column
# Select categorical columns with relatively low cardinality (convenient but arbitrary)
categorical_cols = [cname for cname in X_train_full.columns if
                    X_train_full[cname].nunique() < 10 and 
                    X_train_full[cname].dtype == "object"]

# Select numerical columns
numerical_cols = [cname for cname in X_train_full.columns if 
                X_train_full[cname].dtype in ['int64', 'float64']]

In [14]:
# Keep selected columns only
my_cols = categorical_cols + numerical_cols
X_train = X_train_full[my_cols].copy()
X_valid = X_valid_full[my_cols].copy()
X_test = X_test_full[my_cols].copy()

In [15]:
categorical_cols

['Sex', 'Embarked']

In [16]:
numerical_cols

['Pclass', 'Age', 'SibSp', 'Parch', 'Fare']

In [17]:
X_valid.head()

        Sex Embarked  Pclass   Age  SibSp  Parch      Fare
495    male        C       3   NaN      0      0   14.4583
648    male        S       3   NaN      0      0    7.5500
278    male        Q       3   7.0      4      1   29.1250
31   female        C       1   NaN      1      0  146.5208
255  female        C       3  29.0      0      2   15.2458

In [18]:
X_test.tail()

        Sex Embarked  Pclass   Age  SibSp  Parch      Fare
413    male        S       3   NaN      0      0    8.0500
414  female        C       1  39.0      0      0  108.9000
415    male        S       3  38.5      0      0    7.2500
416    male        S       3   NaN      0      0    8.0500
417    male        C       3   NaN      1      1   22.3583

**Preprocessing and modelling on dataset**

In [19]:
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
#from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler
from xgboost import XGBClassifier
#from catboost import CatBoostClassifier
from sklearn.metrics import mean_absolute_error

# Preprocessing for numerical data
numerical_transformer = Pipeline(steps =[ ('S-1', SimpleImputer(strategy='median')),
                                          ('S-2', StandardScaler()),
                                           ])

# Preprocessing for categorical data
categorical_transformer = Pipeline(steps=[('imputer', SimpleImputer(strategy='most_frequent')),
                                          ('onehot', OneHotEncoder(handle_unknown='ignore'))
                                         ])

# Bundle preprocessing for numerical and categorical data
preprocessor = ColumnTransformer(
                                transformers=[('num', numerical_transformer, numerical_cols),
                                              ('cat', categorical_transformer, categorical_cols)
                                             ])

# Define model
#model = RandomForestClassifier(n_estimators=100,max_depth = 5, random_state = 1)
model = XGBClassifier(n_estimator =100,early_stopping_rounds = 5, 
                eval_set =[(X_valid,y_valid)],learning_rate =0.05,verbose = False)

# Bundle preprocessing and modeling code in a pipeline
my_pipeline = Pipeline(steps=[('preprocessor', preprocessor),
                              ('model', model)
                             ])

# Preprocessing of training data, fit model 
my_pipeline.fit(X_train, y_train)

# Preprocessing of validation data, get predictions
preds = my_pipeline.predict(X_valid)

# Evaluate the model
score = mean_absolute_error(y_valid, preds)
print('MAE:', score)

[06:22:43] WARNING: ../src/learner.cc:573:
Parameters: { "early_stopping_rounds", "eval_set", "n_estimator", "verbose" } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[06:22:43] WARNING: ../src/learner.cc:1095: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
MAE: 0.1452513966480447

/opt/conda/lib/python3.7/site-packages/xgboost/sklearn.py:1146: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)

In [20]:
# Preprocessing of test data, fit model
preds_test = my_pipeline.predict(X_test)

In [21]:
from pandas import Series
check = pd.DataFrame({"PassengerId": test_data.PassengerId,"True y " : Series(y),"prediction":Series(preds_test)})
print(check[1:10])

   PassengerId  True y   prediction
1        893.0        1         0.0
2        894.0        1         0.0
3        895.0        1         0.0
4        896.0        0         1.0
5        897.0        0         0.0
6        898.0        0         0.0
7        899.0        0         0.0
8        900.0        1         1.0
9        901.0        1         0.0

**Making the Confusion Matrix**

In [22]:
from sklearn.metrics import confusion_matrix, accuracy_score
y_pred = my_pipeline.predict(X_train)
cm = confusion_matrix(y_train, y_pred)
print(cm)
accuracy_score(y_train, y_pred)

[[420  19]
 [ 52 221]]

0.9002808988764045

**Applying k-Fold Cross Validation**

In [23]:
from sklearn.model_selection import cross_val_score
def get_score(n_estimators):
    base_pipeline = Pipeline(steps=[('preprocessor',preprocessor ), 
                                    ('model',XGBClassifier(n_estimators=n_estimators))
                                   ])
    # Multiply by -1 since sklearn calculates *negative* MAE
    scores =  cross_val_score(base_pipeline, X_full, y, cv=3,scoring='accuracy')
    print("n_estimate :' {} Accuracy: {:.2f} %, Standard Deviation: {:.2f} % ".format(n_estimators,scores.mean()*100,scores.std()*100))
    pass

In [24]:
n_estimate = range(100,200,100)
results = dict(zip(n_estimate, map(get_score, n_estimate)) )

/opt/conda/lib/python3.7/site-packages/xgboost/sklearn.py:1146: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)
/opt/conda/lib/python3.7/site-packages/xgboost/sklearn.py:1146: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)

[06:22:43] WARNING: ../src/learner.cc:1095: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
[06:22:43] WARNING: ../src/learner.cc:1095: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
[06:22:44] WARNING: ../src/learner.cc:1095: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
n_estimate :' 100 Accuracy: 80.47 %, Standard Deviation: 2.47 %

/opt/conda/lib/python3.7/site-packages/xgboost/sklearn.py:1146: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)

**Making submission**

In [25]:
output = pd.DataFrame({'PassengerId': test_data.PassengerId, 'Survived': Series(preds_test)})
output.to_csv('my_submission.csv', index=False)
print("Your submission was successfully saved!")

Your submission was successfully saved!